{% extends 'thornament/base.html' %}
{% load static %}


{% block content %}


<div id="about">
    <div class="about-wrapper">
        <h1>ABOUT</h1>
        <hr>
        <div class="about-container">
            <h2>Easy , Simple and Fast so you can spend more time playing!</h2>
            <h6>
                Keeping track of scores, stats 
                and who plays who can get a bit too much for anyone.
                But with our tool you will be able to handle and keep track of everything on the fly!
                Our motto is "Have fun" and keeping track of everything can get abit dull,
                but not with our tool! You will have a splendid time using it!
            </h6>
            <div class="features">
                <div class="feature">
                    <span><i class="fas fa-thumbs-up"></i></span>
                    <h5>EASY SET UP</h5>
                    <h6>Simple and easy to get started</h6>
                </div>
                <div class="feature">
                    <span><i class="fas fa-mobile-alt"></i></span>
                    <h5>MOBILEFRIENDLY</h5>
                    <h6>Use it wherever you are whenever you want</h6>
                </div>
                <div class="feature">
                    <span><i class="fas fa-cogs"></i></span>
                    <h5>CONSTANTLY IMPROVING</h5>
                    <h6>We are always trying to improve our product and are working hard every day for it</h6>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}