{% extends 'thornament/base.html' %}
{% load static %}


{% block content %}


<div id="league_view">
    <div class="league-view-wrapper">
        <div class="leage-view-container">

            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <h5>{{league.league_name}}</h5>
                        <tr>
                            <th>Team/Participant</th>
                            <th>W</th>
                            <th>L</th>
                            <th>OT</th>
                            <th>P</th>
                        </tr>

                        {% for participant in participants%}

                        <tr>
                            <td>{{participant.participant_name}}</td>
                            <td>{{participant.participant_win}}</td>
                            <td>{{participant.participant_loss}}</td>
                            <td>{{participant.participant_ot}}</td>
                            <td>{{participant.participant_point}}</td>
                        </tr>

                        {% endfor %}

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}