{% extends 'thornament/base_form.html' %}
{% load static %}


{% block content %}


<div id="login_register_container">
    <div id="form_wrapper">
        <div id="form_container">
            <h2>Register</h2>
            <form method="POST" id="form_inputs">
                {% csrf_token %}
                <div class="form-input">
                    <label>Username</label>
                    {{ form.username }}
                </div>
                <div class="form-input">
                    <label>Email</label>
                    {{ form.email }}
                </div>
                <div class="form-input">
                    <label>Password</label>
                    {{ form.password1 }}
                </div>
                <div class="form-input">
                    <label>Confirm password</label>
                    {{ form.password2 }}
                </div>
                <div class="form-input">
                    <input type="submit">
                </div>                  
            </form>
            {{ form.errors }}
            <div class="link">
                <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}