.jumbotron {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("/static/images/home_jumbotron.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
  width: 100%;
  border-bottom: 2px solid #ffc400;
}

.jumbotron::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.jumbotron .jumbo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  color: #eeeeee;
}

.jumbotron .jumbo-container h1 span {
  color: #ffc400;
}

.jumbotron .jumbo-container .jumbo-buttons .btn {
  background-color: #1d91da;
  border-color: #1d91da;
  margin: 5px;
  margin-top: 40px;
}

.jumbotron .jumbo-container .jumbo-buttons .btn:hover {
  color: lightskyblue;
}

.main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  color: #eeeeee;
}

.main .main-container {
  width: 100%;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main-container .tournament-container, .main .main-container .league-container {
  width: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 3px;
}

.main .main-container h2 {
  margin-top: 30px;
}

.main .main-container hr {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px #09090a, 1px 1px 2px #09090a;
          box-shadow: 0px 0px 5px #09090a, 1px 1px 2px #09090a;
}

.main .main-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px 0 30px 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .main-container .search h5 {
  text-align: start;
}

.main .main-container .search input {
  margin-top: 10px;
  padding-left: 5px;
  width: 300px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee;
}

.main .main-container .search input::-webkit-input-placeholder {
  color: #eeeeee;
}

.main .main-container .search input:-ms-input-placeholder {
  color: #eeeeee;
}

.main .main-container .search input::-ms-input-placeholder {
  color: #eeeeee;
}

.main .main-container .search input::placeholder {
  color: #eeeeee;
}

.main .main-container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .main-container .card-container .card {
  margin: 20px;
  width: auto !important;
  max-width: 350px;
  -webkit-box-shadow: 0px 0px 5px #09090a, 1px 1px 2px #09090a;
          box-shadow: 0px 0px 5px #09090a, 1px 1px 2px #09090a;
}

.main .main-container .card-container .card .card-body {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}

.main .main-container .card-container .card .card-body .card-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main-container .card-container .card .card-body .card-btn .btn {
  background-color: #1d91da;
  border-color: #1d91da;
  width: 150px;
}

.main .main-container .card-container .card .card-body .card-btn .btn:hover {
  background-color: lightskyblue;
}

@media only screen and (max-width: 768px) {
  .tournament-container, .league-container {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .tournament-container, .league-container {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .main .main-container .search {
    margin: 60px 0 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main-container .search h5 {
    text-align: center;
  }
}
/*# sourceMappingURL=home.css.map */